@using Demo.DotNetOxford.Blog

@inject IBlogRepository blogRepository

@if (blogRepository.Posts().Any())
{
    <div><h2>Blog 1</h2><p>Content for blog 1</p></div>
    <div><h2>Blog 2</h2><p>Content for blog 2</p></div>
}
else
{
    <p>
        No blogs available
    </p>
}

@code {

}
